<nav class="navbar border-b border-[#DCDCDD] py-4 min-[428px]:py-[20px] min-[428px]:px-8 px-4">


  <!-- Logo -->
  <section class="navbar-logo flex items-center">
    <span class="mr-2 min-[700px]:hidden "><svg (click)="toggleHam()" xmlns="http://www.w3.org/2000/svg" fill="none"
        viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
      </svg>
    </span>
    <span class="font-normal text-[20px] min-[428px]:text-[28px]">Flexi</span><span
      class="font-extrabold text-[20px] min-[428px]:text-[28px] text-[#c70000]">Ride</span>
  </section>



  <!-- Navigation Links -->
  <section ngClass="{'min-[1200px]:ml-[240px]':loggedIn}"
    class="navbar-links max-[700px]:hidden flex justify-center items-center gap-[21px] min-[750px]:gap-[42px] min-[800px]:ml-[80px]">
    <a routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
    <a routerLink="/cars" routerLinkActive="active">Cars</a>
    <a *ngIf="loggedIn" routerLink="/bookings" routerLinkActive="active">My Bookings</a>
  </section>

  <!-- Right Side: Login/User + Icons -->
  <section class="navbar-actions gap-3 min-[900px]:gap-6">
    <ng-container *ngIf="user; else guest">
      <div class="relative">
        <section class="flex gap-3 items-center cursor-pointer" (click)="toggleProfileMenu()">
          <img *ngIf="userImage" [src]="user.image" alt="avatar" class="avatar">
          <div *ngIf="!userImage"
            class="h-[30px] w-[30px] rounded-full flex justify-center items-center bg-teal-500 text-white">{{getName()}}
          </div>
          <span class="max-[940px]:hidden">Hello, {{ user.name }} ({{ user.role }})</span>
          <span class="max-[428px]:hidden min-[939px]:hidden">{{ user.name }}</span>
        </section>

        <!-- Dropdown menu -->
        <div *ngIf="isProfileMenuOpen"
          class="absolute right-0 mt-2 w-48 bg-white rounded-md shadow-lg z-10 border border-gray-200">
          <div class="py-1 flex flex-col">
            <div class="px-2 py-2">
              <a (click)="navigateToProfile()"
                class="block p-2 text-sm text-center text-white bg-black hover:bg-gray-900 cursor-pointer font-medium rounded-md">
                My profile
              </a>
            </div>
            <div class="px-2 pb-1">
              <a (click)="logout()"
                class="block p-2 text-sm text-center text-gray-700 hover:bg-gray-100 cursor-pointer font-medium rounded-md">
                Log out
              </a>
            </div>
          </div>
        </div>
      </div>
      <svg class='icon max-[428px]:hidden' height='28px' xmlns="http://www.w3.org/2000/svg" fill="none"
        viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round"
          d="M14.857 17.082a23.848 23.848 0 0 0 5.454-1.31A8.967 8.967 0 0 1 18 9.75V9A6 6 0 0 0 6 9v.75a8.967 8.967 0 0 1-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 0 1-5.714 0m5.714 0a3 3 0 1 1-5.714 0" />
      </svg>

    </ng-container>

    <ng-template #guest class="">
      <span class="max-[940px]:hidden">Hello,Visitor</span>
      <a routerLink="/login">Log in</a>
    </ng-template>

    <!-- Language Dropdown -->
    <select class="lang max-[700px]:hidden">
      <option selected="En">En</option>
      <option value="Fr">Fr</option>
      <option value="Esp">Esp</option>
    </select>
  </section>
</nav>

<section *ngIf="ham"
  class="z-10 flex flex-col w-2/3 h-dvh  gap-2 bg-[#f0f0f0] absolute top-16 min-[426px]:top-26 left-0">
  <a class=" text-lg cursor-pointer p-2" routerLink="/" routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }">Home</a>
  <a class=" text-lg cursor-pointer  p-2" routerLink="/Cars" routerLinkActive="active">Cars</a>
  <a class=" text-lg cursor-pointer  p-2" *ngIf="loggedIn" routerLink="/Bookings" routerLinkActive="active">My
    Bookings</a>

  <select class="text-lg outline-0 border-0 w-1/4 p-2 ">
    <option selected="En">En</option>
    <option value="Fr">Fr</option>
    <option value="Esp">Esp</option>
  </select>
</section>