<div class="relative">
  <!-- Congratulations PopUp! -->
  <div *ngIf="congo" class="absolute top-0 flex justify-center items-center w-full z-9">
    <section
      class="flex py-4 px-2   self-center  items-center bg-[#E2FAE7] border border-[#149E32] rounded-sm gap-4 w-[300px] min-[400px]:w-[370px] h-[130px] min-[400px]:h-[103px]">
      <figure class="h-full"><svg width="20" height="20" viewBox="0 0 20 20" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="M10 0C4.5 0 0 4.5 0 10C0 15.5 4.5 20 10 20C15.5 20 20 15.5 20 10C20 4.5 15.5 0 10 0ZM10 18C5.59 18 2 14.41 2 10C2 5.59 5.59 2 10 2C14.41 2 18 5.59 18 10C18 14.41 14.41 18 10 18ZM14.59 5.58L8 12.17L5.41 9.59L4 11L8 15L16 7L14.59 5.58Z"
            fill="#149E32" />
        </svg></figure>
      <section class="flex flex-col gap-2 h-full">
        <h4 class="font-normal text-sm leading-5 ">Congratulations!</h4>
        <p class="font-normal text-xs leading-4 "><strong>Your Car</strong> is booked for {{latestBooking.startDate | date: "dd MMMM YYYY"}} - {{latestBooking.endDate | date: "dd MMMM YYYY"}} You can change
          booking details until {{latestBooking.startDate | date: "dd MMMM YYYY"}}.
          Your order: #{{latestBooking.id}} {{latestBooking.startDate | date: "dd MMMM YYYY"}} </p>
      </section>

      <span (click)="closeCongo()" class="h-full top-0.5 "><svg width="11" height="11" viewBox="0 0 11 11" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="M5.40039 6.92035L2.22974 10.0997C2.02901 10.299 1.77394 10.3986 1.46452 10.3986C1.1551 10.3986 0.900028 10.299 0.699304 10.0997C0.500028 9.90042 0.400391 9.6468 0.400391 9.33882C0.400391 9.03085 0.500028 8.77723 0.699304 8.57796L3.87865 5.39861L0.699304 2.25513C0.500028 2.0544 0.400391 1.79933 0.400391 1.48991C0.400391 1.18049 0.500028 0.925418 0.699304 0.724694C0.898579 0.525419 1.1522 0.425781 1.46017 0.425781C1.76814 0.425781 2.02177 0.525419 2.22104 0.724694L5.40039 3.90404L8.54387 0.724694C8.74459 0.525419 8.99966 0.425781 9.30908 0.425781C9.6185 0.425781 9.87358 0.525419 10.0743 0.724694C10.2917 0.942085 10.4004 1.20042 10.4004 1.49969C10.4004 1.79897 10.2917 2.04788 10.0743 2.24643L6.89495 5.39861L10.0743 8.56926C10.2736 8.76998 10.3732 9.02506 10.3732 9.33448C10.3732 9.6439 10.2736 9.89897 10.0743 10.0997C9.85691 10.3171 9.59894 10.4258 9.30039 10.4258C9.00184 10.4258 8.75256 10.3171 8.55256 10.0997L5.40039 6.92035Z"
            fill="black" />
        </svg></span>
    </section>
  </div>


  <h1
    class="text-5xl sm:text-[56px] flex justify-center ml-0 min-[800px]:justify-start min-[800px]:ml-[40px] leading-16 font-semibold mt-4 mb-4">
    My Bookings</h1>


  <!-- Tabs Section -->
  <section
    class="mx-2 my-4 min-[800px]:ml-8 flex overflow-x-auto text-nowrap justify-between min-[800px]:flex-row items-center gap-6 min-[800px]:gap-8 min-[800px]:justify-start pb-4">

    <a (click)="setActive(0)" class="cursor-pointer" [ngClass]="{' text-black border-b-2':active === 0,
            ' text-[#666]':active!==0}">
      All Services</a>

    <a (click)="setActive(1)" class="cursor-pointer" [ngClass]="{' text-black border-b-2':active === 1,
            ' text-[#666]':active!==1}">
      Reserved</a>

    <a (click)="setActive(2)" class="cursor-pointer" [ngClass]="{' text-black border-b-2':active === 2,
            ' text-[#666]':active!==2}">Service Started</a>

    <a (click)="setActive(3)" class="cursor-pointer" [ngClass]="{' text-black border-b-2':active === 3,
            ' text-[#666]':active!==3}">
      Service Provided</a>

    <a (click)="setActive(4)" class="cursor-pointer" [ngClass]="{' text-black border-b-2':active === 4,
            ' text-[#666]':active!==4}"> Service Finished</a>
    <a (click)="setActive(5)" class="cursor-pointer" [ngClass]="{' text-black border-b-2':active === 5,
            ' text-[#666]':active!==5}"> Cancelled </a>

  </section>

  <!-- Cards Section -->
  <section
    class="flex flex-col justify-center items-center min-[680px]:grid min-[680px]:grid-cols-2 min-[1035px]:grid-cols-3 min-[1370px]:grid-cols-4 min-[1700px]:grid-cols-5 gap-4 mx-2 my-4 min-[800px]:ml-8">
    <app-bookings-card *ngFor="let booking of filteredBookings" [booking]="booking"
      (showFeedBackEvent)="setshowFeedback($event)" (cancelBookingEvent)="setshowPopup($event)"
      (viewBookingEvent)="HandleViewFeedback($event)" (editBookingEvent)="HandleEditBooking($event)">
    </app-bookings-card>
  </section>




  <!--Cancel Popup -->
  <section *ngIf="showPopup" class="fixed inset-0  bg-[#0000004D] flex items-center justify-center z-50">
    <section class="bg-[#FFFBF3] w-[300px] sm:w-[400px] h-[300px] sm:h-[200px] p-6 rounded-lg shadow-lg max-w-md ">
      <h1 class="text-[26px] leading-6 font-medium mb-4 max-sm:text-center">Cancel Booking?</h1>
      <p class="text-lg font-normal mb-4 text-[#666666] max-sm:text-center">You are about to cancel your booking. Are
        you
        sure you want to proceed?</p>
      <section class="flex w-full justify-between gap-1.5 font-medium text-lg flex-col sm:flex-row">
        <button (click)="HandleCancelBooking()"
          class="cursor-pointer px-3 py-2 border-1 w-full sm:w-1/2 border-black hover:text-white hover:bg-black rounded-4xl text-nowrap">
          Cancel
        </button>
        <button (click)="showPopup = false"
          class="cursor-pointer px-3 py-2 bg-[rgb(204,29,29)] text-white hover:bg-[rgb(244,29,29)] w-full sm:w-1/2  rounded-4xl text-nowrap">Resume
          Booking</button>
      </section>
    </section>
  </section>


  <!--Create Feedback -->
  <section *ngIf="showFeedback" class="fixed inset-0  bg-[#0000004D] flex items-center justify-center z-50">
    <section class="bg-[#FFFBF3] w-[300px] sm:w-[400px] sm:h-[393px] p-6 rounded-lg shadow-lg max-w-md ">
      <h1 class="text-[26px] leading-6 font-medium max-sm:text-center mb-6">How was your experience?</h1>

      <h3 class="text-lg font-normal mb-6">{{this.carName}}</h3>

      <h5 class="text-[12px] font-normal text-[#666666]">Rate your experience</h5>

      <!-- Star Component -->
      <section class="flex space-x-1 mb-6">
        <ng-container *ngFor="let star of [1, 2, 3, 4, 5]">
          <svg (click)="setRating(star)" [ngClass]="star <= rating ? 'text-yellow-400' : 'text-[#DCDCDD]'"
            xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24"
            class="w-5 h-5 cursor-pointer transition-colors duration-200">
            <path d="M12 17.27L18.18 21 16.54 13.97 22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z" />
          </svg>
        </ng-container>
      </section>

      <!-- TextBox Component -->
      <section class="w-full flex flex-col gap-1 mb-6">
        <h5 class="font-normal text-xs">Review</h5>
        <textarea class="border border-[#DCDCDD] rounded-lg px-3 py-2 outline-none h-[95px]" name="Review" id="Review"
          placeholder="Add Your Comment" [(ngModel)]="reviewText"></textarea>
      </section>

      <!-- Buttons Section -->
      <section class="flex w-full justify-between gap-1.5 font-medium text-lg flex-col sm:flex-row">
        <button (click)="showFeedback = false"
          class="cursor-pointer px-3 py-2 border-1 w-full sm:w-1/2 border-black hover:text-white hover:bg-black rounded-4xl text-nowrap">
          Cancel
        </button>
        <button (click)="HandleFeedbackSubmit()"
          class="cursor-pointer px-3 py-2 bg-[rgb(204,29,29)] text-white hover:bg-[rgb(244,29,29)] w-full sm:w-1/2  rounded-4xl text-nowrap">Submit
        </button>
      </section>

    </section>
  </section>

    <!--View Feedback -->
    <section *ngIf="viewFeedback" class="fixed inset-0  bg-[#0000004D] flex items-center justify-center z-50">
      <section class="bg-[#FFFBF3] w-[300px] sm:w-[400px] sm:h-[353px] p-6 rounded-lg shadow-lg max-w-md ">
        <h1 class="text-[26px] leading-6 font-medium max-sm:text-center mb-6">Your Feedback</h1>
  
        <h3 class="text-lg font-normal mb-6">{{this.carName}}</h3>
  
        
  
        <!-- Star Component -->
        <section class="flex space-x-1 mb-6">
          <ng-container *ngFor="let star of [1, 2, 3, 4, 5]">
            <svg
              [ngClass]="star <= feedbackRating ? 'text-yellow-400' : 'text-[#DCDCDD]'"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 24 24"
              class="w-5 h-5 transition-colors duration-200"
            >
              <path
                d="M12 17.27L18.18 21 16.54 13.97 22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"
              />
            </svg>
          </ng-container>
        </section>
        
  
        <!-- TextBox Component -->
        <section class="w-full flex flex-col gap-1 mb-6">
          <h5 class="font-normal text-xs">Review</h5>
          <section class="border border-[#DCDCDD] rounded-lg px-3 py-2 outline-none h-[95px]" 
          >{{feedbackText}}</section>
        </section>
  
        <!-- Buttons Section -->
        <section class="flex w-full justify-between gap-1.5 font-medium text-lg flex-col sm:flex-row">
          <button (click)="viewFeedback = false"
            class="cursor-pointer px-3 py-2 border-1 w-full  border-black hover:text-white hover:bg-black rounded-4xl text-nowrap">
            Cancel
          </button>
        </section>
  
      </section>
    </section>
</div>