<article class="flex flex-col p-3 w-[320px] sm:w-[332px] bg-[#F0F0F0] rounded-lg items-start relative">

    <!-- Status Indicator -->
     <section 
     [ngSwitch]="booking.state"
     class="font-normal text-sm bg-[#FFF] flex justify-center items-center p-2 rounded-sm absolute top-3 left-3">
        <span *ngSwitchCase="'Reserved'" class="text-[#0b6a16] ">Reserved</span>
        <span *ngSwitchCase="'FinishedBooking'" class="text-[#E09811] ">Booking Finished</span>
        <span *ngSwitchCase="'FinishedService'" class="text-black">Service Provided</span>
        <span *ngSwitchCase="'InProgress'" class="text-[#1279C2]">Service Started</span>
        <span *ngSwitchCase="'Cancelled'" class="text-[#E22D0D]">Cancelled</span>
     </section>

    <img src="car-images/car 1/Rectangle 39.svg" alt="car" class="w-[300px] mb-4 rounded-s-md">

    <!-- Headings Section -->
    <section class="flex flex-col items-start mb-4">
        <h1 class="font-normal text-lg leading-6">{{booking.carname}}</h1>
        <p class="font-normal text-sm leading-5">Order: #{{booking.id}} (06.11.24)</p>
    </section>

    <!-- Buttons Section -->
    <section 
    [ngClass]="{'mb-4': booking.state !== (BookingState.Cancelled||BookingState.InProgress),
        'mb-18': booking.state === (BookingState.InProgress) ||booking.state === (BookingState.Cancelled) 
    }"
    class="flex justify-center w-full gap-1.5 font-medium text-lg">
        <button *ngIf="booking.state==='Reserved'"
            (click)="onCancelBookingEvent()"
            class="cursor-pointer border py-2 border-black hover:text-white w-1/2 hover:bg-black rounded-4xl">
            Cancel
        </button>
        <button *ngIf="booking.state==='Reserved'"
            (click)="onEditBookingEvent()"
            class="cursor-pointer py-2 bg-[rgb(204,29,29)] text-white hover:bg-[rgb(244,29,29)] w-1/2 rounded-4xl">Edit</button>

        <button *ngIf="booking.state === 'FinishedService'"
            (click)="onshowFeedBackEvent()"
            class="cursor-pointer px-[52.5px] py-2 bg-[rgb(204,29,29)] text-white hover:bg-[rgb(244,29,29)] w-full  rounded-4xl">LeaveFeedBack</button>

        <button *ngIf="booking.state === 'FinishedBooking'"
            (click)="onViewBookingEvent()"
            class="cursor-pointer px-[52.5px] py-2 border-1 w-full border-black hover:text-white hover:bg-black rounded-4xl">ViewFeedBack</button>
    </section>


    <!-- Card Footer -->
    <section class="w-[88%] flex justify-center gap-2 items-center mb-4">
        <span 
        class="text-sm leading-5 font-normal text-[#666] ">
            Have any questions? 
        </span>

        <span class="underline cursor-pointer font-medium text-sm flex justify-between items-center gap-1">
            Support Chat
            <img src="assets/icons/message.svg" alt="chat-icon">
        </span>
    </section>

</article>